						/* LAYOUT */

.container-layout{
	width: 800px;
	margin-left: 210px;
	margin-top:45px;
	height: 90%;
}
						
.container-header{
	/* border-bottom: 2px solid; */
	/* height: 11%; */
	height: 83px;
}

.container-body{
	/* border-left: 2px solid;
	border-right: 2px solid; */
	height: 82%;
}

.container-body-inner{
/* 	border: 1px dotted;
	margin: 10px;
	padding: 15px;
	width: 750px;
	height: 100%; */
	
	border: 1px dotted;
  /* margin: 10px; */
  padding: 15px;
  width: 95%;
  height: 98%;
  margin-left: 4px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.container-footer{
	/* border:2px solid; */
	/* border-top: 2px solid; */
	/* height: 8%; */
	height: 23px;
	text-align: center;
}

						/* HEADER  */
.table-header{
	width: 100%;
}

.table-header-td-left{
	width: 80%;
	padding: 20px 0px 0px 20px;
	color:blue;

}

.table-header-td-right{
	width: 20%;
		padding-right: 6px;
}
						/* HOME  */
.container-home-header{
	height: 10%;
}					

.container-home-body{
	height: 80%;
}
.container-home-footer{
	height: 10%;
	background-color: rgb(215,215,215);
	margin: -5 -10 0 -10;
}

.container-home-body-table{
	width: 100%;
}

.cont-hbt-title{
	width: 50%;
	font-weight: bold;
}

.cont-hbt-date{
	text-decoration: underline;
}

.cont-hbt-name{
	width: 25%;
}

.cont-hbt-taglist{
	width: 70%;
	padding-right: 10px;
	color: darkgray;
}

.cont-hbt-commentlist{
	width: 15%;
	color: red;
}

.cont-hbt-view{
	width: 15%;
	color: blue;
}

.submit-pag{
	padding-top: 20px;
}

					/* VIEW NEWS */
.container-news{
  margin:10px 20px 25px 20px;
  height: 85%;
}

.container-news-back{
	height: 5%;
}

.container-news-pr-next{
	height: 5%;
}

.cont-nbt-info{
	margin-bottom: 20px;
}

.cont-news-table-comm{
	width: 100%;
}

.cont-nbt-td-comment{
	padding: 5px 0 10px 0;
}

.cont-nbt-table-info-td-text{
	padding-top: 20px;
}

.cont-nbt-td-colortext{
	background-color: rgb(221, 218, 218);
	width: 300px;
}

.comp-margin-left{
	margin-left: -10px;
}

.cont-nbt-table-textarea{
	margin-left: -4px;
	width: 100%;
}

.cont-nbt-table-textarea-td{
	width: 40%;
}

.cont-nbt-textarea{
	width: 300px;
	height: 70px;
}

						/* COMMON */
.container-error-text{
	color: red;
}					


						/* FILTER */
.multiselect{
	width: 170px;
}

.selectBox{
	position: relative;
}

.selectBox select{
	width: 100%;
}

.overSelect{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0;
	bottom: 0;
}

#checkboxes{
	display: none;
	border: 1px #dadada solid;
	background-color: white;
	width:170px;
	position: absolute;
	text-align: left;
}

#checkboxes label{
	display: block;
}

#checkboxes label:HOVER {
	background-color: #1e90ff;
}
